.DS_Store
.claude/settings.local.json
/mautrix-twitter
logs/
*.db*
*.yaml
!example-config.yaml
!.pre-commit-config.yaml
/start
/pkg/mautrix

/*.dll.a
/*.dll
/mautrix-twitter.exe
/data
actions*.txt
grind*.md